@model UserViewModel
@{
    ViewData["Title"] = "Usuário";
}

<body id="page-top">

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Usuários</h1>
        <p class="mb-4">Aqui estão todos os usuários registrados no sistema</a>.</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Tabela de Usuários</h6>
            </div>

            <div style="padding-left: 20px; padding-top: 10px">

                <a href="/Users/Register" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">Cadastrar novo Usuário</span>
                </a>

            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Cód.</th>
                                <th>Nome</th>
                                <th>E-mail</th>
                                <th>Telefone</th>
                                <th>Data Registro</th>
                                <th>Último Pedido</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th><i>UserId</i></th>
                                <th><i>Username</i></th>
                                <th><i>Email</i></th>
                                <th><i>Phone</i></th>
                                <th><i>CreatedAt</i></th>
                                <th><i>LastOrder</i></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in (List<UserViewModel>)ViewBag.ListAllUsers)
                            {
                                <tr>
                                    <td>@item.UserId.ToString()</td>
                                    <td>@item.Username.ToString()</td>
                                    <td>@item.Email.ToString()</td>
                                    <td>@item.Phone.ToString()</td>
                                    <td>@item.CreatedAt.ToString()</td>
                                    <td>@item.LastOrder.ToString()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>
